<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.inappbrowser" version="2.1.1-downloadfix.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-outsystems-inappbrowser</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    <js-module name="OSInAppBrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.OSInAppBrowser"/>
    </js-module>
    <platform name="android">
        <hook type="before_plugin_install" src="hooks/outsystems/handle_cleartextTrafficPermitted.js"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OSInAppBrowser">
                <param name="android-package" value="com.outsystems.plugins.inappbrowser.osinappbrowser.OSInAppBrowser"/>
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true"/>
            <preference name="GradlePluginKotlinCodeStyle" value="official"/>
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/OSInAppBrowser.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser"/>
        <source-file src="src/android/OSInAppBrowserError.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser"/>
        <source-file src="src/android/OSInAppBrowserSystemBrowserInputArguments.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser"/>
        <source-file src="src/android/OSInAppBrowserWebViewInputArguments.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser"/>
        <source-file src="src/android/libs/ioninappbrowser-android-2.0.3-downloadfix.1.aar" target-dir="app/libs"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    </platform>
    <platform name="ios" package="swift">
        <config-file parent="/*" target="config.xml">
            <feature name="OSInAppBrowser">
                <param name="ios-package" value="OSInAppBrowser"/>
            </feature>
            <preference name="SwiftVersion" value="5"/>
        </config-file>
        <source-file src="src/ios/OSInAppBrowser.swift"/>
        <source-file src="src/ios/OSInAppBrowserError.swift"/>
        <source-file src="src/ios/OSInAppBrowserInputArgumentsModel.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABAnimationEffect.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABDismissStyle.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABToolbarPosition.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABViewStyle.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABWebViewConfigurationModel.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/OSIABWebViewUIModel.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/Options/OSIABOptions.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/Options/OSIABSystemBrowserOptions.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/Models/Options/OSIABWebViewOptions.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/OSIABCacheManager.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/OSIABEngine.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/OSIABRouter.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/RouterAdapters/OSIABApplicationRouterAdapter.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/RouterAdapters/OSIABSafariViewControllerRouterAdapter.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/RouterAdapters/OSIABWebViewRouterAdapter.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/OSIABWebViewCallbackHandler.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/OSIABWebViewModel.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/Modifiers/OSIABViewModifiers.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABErrorView.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABNavigationView.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABWebView.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABWebView13WrapperView.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABWebViewRepresentable.swift"/>
        <source-file src="src/ios/OSInAppBrowserLib/WebView/Views/OSIABWebViewWrapperView.swift"/>
    </platform>
</plugin>